.side-nav {
  @apply flex flex-col flex-auto flex-shrink-0 z-20 transition-all ease-in-out duration-200 print:hidden h-screen;
}

.side-nav-expand {
  @apply sticky top-0;
}

.side-nav-header {
  @apply flex-shrink-0;
}

.side-nav-content {
  @apply flex-1 min-h-0 overflow-y-auto overflow-x-hidden;
}

.side-nav-light {
  @apply bg-white border-r border-gray-200;
}

.side-nav-dark {
  @apply bg-gray-800 border-r border-gray-600;
}

.side-nav-transparent {
  @apply bg-transparent;
}
